@model List<Asci>
@{
    ViewBag.Title = "Aşçılarım";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <div class="row">

        <div class="col-lg-10">

            <div class="panel panel-default">

                <table class="table">
                    <tbody>
                        @foreach (Asci item in Model)
                        {
                            <tr>
                                <td>
                                    <img src="~/Content/images/restoran/asci.jpg" style="width:100px;"/>
                                </td>
                                <td>Adı Soyadı : @item.AsciAdi</td>
                                <td>@Html.ActionLink("Aşçı Sipariş Çizelgesi", "AsciSiparisCizelgesi", "Restoran", new { area = "" }, new { @class = "btn btn-primary btn-block" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>