

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Ara</button>
                </span>
                <input type="search" placeholder="YEMEK TARİFİ VEYA RESTORAN ARA" class="form-control">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="input-group">
                <select class="form-control " style="width:423px;">
                    <option disabled selected hidden>Semtinizi Seçiniz</option>
                    <option>1 select</option>
                    <option>2 select</option>
                    <option>3 select</option>
                </select>

            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->


    <br />
</div>
<div class="row" style="background-image: url('../../Content/images/menu/center-bottom-bg.png');">

    <div class="col-lg-3">
        <img src="~/Content/images/menu/bolgeni-sec.png" style="width:200px;height:150px;" />
        <label>&emsp;&emsp;KAMPANYANI SEÇ</label>
    </div>
    <div class="col-lg-1">
        <br />
        <br />
        <img src="~/Content/images/menu/arrow-right.png" />
    </div>
    <div class="col-lg-3">
        <img src="~/Content/images/menu/siparisini_ver.png" style="width:200px;height:150px;" />
        <label>&emsp;&emsp;&emsp;&emsp; Sipariş Ver</label>
    </div>
    <div class="col-lg-1">
        <br />
        <br />
        <img src="~/Content/images/menu/arrow-right.png" />
    </div>
    <div class="col-lg-4">
        <img src="~/Content/images/menu/tadini_cikar.png" style="width:200px;height:140px;" />
        <label><br />&emsp;&emsp;DİLEDİĞİN GİBİ ÖDE</label>
    </div>


</div>
<div class="col-lg-12"><br /></div>

<div class="row">
    <div class="col-lg-4  ">
        <div class="thumbnail">
            
            <img src="~/Content/images/Anasayfa/indir.jpg" style="width:300px;height:200px; " alt="..."/>
            <div class="caption">
                <center>
                    <h3>
                        @Html.ActionLink("Eklenen Tarifler", "Index", "Tarifler")
                    </h3>
                </center>

            </div>
        </div>
    </div>
    <div class="col-lg-4  ">
        <div class="thumbnail">
           
            <img src="~/Content/images/Anasayfa/images.jpg" style="width:300px;height:200px; " alt="..."/>
            <div class="caption">
                <center>
                    <h3>
                        @Html.ActionLink("Restoranlar", "Index", "Restoranlar")
                    </h3>
                </center>

            </div>
        </div>
    </div>
    <div class="col-lg-4  ">
        <div class="thumbnail">

            <img src="~/Content/images/Anasayfa/indir (1).jpg" style="width:300px;height:200px; " alt="..." />
            <div class="caption">
                <center>
                    <h3>
                        @Html.ActionLink("İndirimli Ürunler", "Index", "Kampanyalar")
                    </h3>
                </center>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <br />
    <div class="col-lg-12  ">
        <div class="thumbnail">
            <a href="mailto:iletisim@yapgetir.com "> <img src="~/Content/images/Anasayfa/reklamm.jpg" style="width:874px;height:183px; " /></a>
           

        </div>
    </div>


</div>
