
@{
    ViewBag.Title = "Gizlilik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ys-panel ys-tabs ys-panel-big-white profile-tabs">
    <div class="panel-heading with-tabs">
        <ul class="nav nav-tabs">
            <li><a href="/Sozlesme/Index" data-content-id="user-agreement">Kullanıcı Sözleşmesi </a></li>
            <li class="active"><a href="/Sozlesme/Gizlilik" data-content-id="privacy-policy">Gizlilik ve Çerez Politikası</a></li>
            <li><a href="/Sozlesme/AydinlatmaMetni" data-content-id="clarification-text">Aydınlatma Metni</a></li>
            <li><a href="/Sozlesme/Kvk" data-content-id="kvk-text">KVK</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="user-agreement" class="tab "></div>
        <div id="privacy-policy" class="tab"></div>
        <div id="clarification-text" class="tab"></div>
        <div id="kvk-text" class="tab active">
            <div class="ys-panel-clean">
                <div class="panel-body">
                    <h3 class="module-title">GİZLİLİK POLİTİKASI</h3>
                    <div class="section-body"><strong>İşbu Gizlilik Politikası ile kişisel verilerinizin işlenmesi hakkında aydınlatılmış olduğunuzu ve kişisel verilerinizin burada belirtilen şekilde kullanılmasına onay verdiğinizi kabul etmektesiniz. </strong></div>
                    <div class="section-body"><br> İşbu Gizlilik Politikası’nda,Yap Getir Elektronik İletişim Tanıtım Pazarlama Gıda Sanayi ve Ticaret A.Ş. (“Yemek Sepeti”) tarafından işletilmekte olan www.Yapgetir.com internet sitesi (“Site”)/Mobil uygulama işletilmesi sırasında Site/Mobil uygulama kullanıcıları/üyeleri/ziyaretçileri (“Veri Sahibi”) tarafındanYap Getir ile paylaşılan veyaYap Getir’nin, Veri Sahibi’nin Site’nin kullanımı sırasında ürettiği kişisel verilerin kullanımına ilişkin koşul ve şartlara yer verilmiştir.</div>
                    <h3 class="module-title">Hangi Verilerinizi İşliyoruz?</h3>
                    <div class="section-body">
                       Yap Getir’nin işlediği kişisel verileriniz aşağıda belirtilen şekilde Kişisel Verilerin Korunması Kanunu’na (Kanun) uygun olarak kategorize edilmiştir. Aksi açıkça belirtilmedikçe, işbu Gizlilik Politikası kapsamında arz edilen hüküm ve koşullar kapsamında “kişisel veri” ifadesi aşağıda yer alan bilgileri kapsayacaktır.
                        <ul>
                            <li>Kimlik ve İletişim Bilgisi: ad, soyad, telefon, adres, işyeri bilgisi, e-posta adresi</li>
                            <li>Kullanıcı Bilgisi, Kullanıcı İşlem Bilgisi ve Finansal Bilgi: üyelik bilgileri, üyelik ID numarası,Yap Getir hizmetlerinden yararlandığınız tarih ve saate ilişkin veriler,Yap Getir veya Canlı Yardım ile iletişime geçme nedenleriniz, Site üzerinde arama yaparken kullandığınız terimler ve filtreleme tercihleriniz, puan ve yorumlarınız, yemek tercihleriniz, ziyaret ettiğiniz restoran kategorileri, kullanım sırasında oluşan hatalar, fatura ve ödeme bilgisi, bakiye bilgisi (kullanıcıya gönderilen faturalar ve kullanıcılardan alınan ödemelere ait dekont örnekleri, fatura numarası, fatura tutarı, fatura kesim tarihi gibi veriler.)</li>
                            <li>Lokasyon Bilgisi:Yap Getir’nin hizmetlerini kullanmanız esnasında elde etmiş olduğumuz, GPS verisi gibi konumunuza ilişkin belirli veya yaklaşık konum bilgileri</li>
                            <li>İşlem Güvenliği Bilgisi: log in credential bilgileri, parola bilgileri</li>
                            <li>Pazarlama Bilgisi: alışkanlıklarınız ile beğenilerinizi gösteren raporlar ve değerlendirmeler, hedefleme bilgileri, çerez (cookie) kayıtları vb. bilgiler</li>
                            <li>Talep/Şikayet Yönetimi Bilgisi: Site üzerinden yaptığınız talep ve şikayetler ile Site’de paylaştığınız yorumlarınız</li>
                            <li>Risk Yönetimi Bilgisi: IP adresi</li>
                        </ul>
                        Kanunun 3. ve 7. maddeleri çerçeve anonim hale getirilen veriler, anılan kanun hükümleri uyarınca kişisel veri olarak kabul edilmeyecek ve bu verilere ilişkin işleme faaliyetleri işbu Gizlilik Politikası hükümleri ile bağlı olmaksızın gerçekleştirecektir. Verilerinizin işlenip işlenmediği konusunda başvuru konusunda bkz.Yap Getir Kişisel Verilerin İşlenmesi ve Korunması Politikası (KVK Politikası).
                    </div>
                    <h3 class="module-title">Verilerinizin Kullanım Amacı Nedir?</h3>
                    <div class="section-body">
                       Yap Getir ile paylaştığınız kişisel verileriniz, Site’den ve Site üzerinden veya Mobil uygulama üzerinden sağlanan hizmetlerden faydalanabilmeniz için, Site’ye üyelik kaydınızın gerçekleştirilmesi, üyelik kaydına ilişkin güncellemelerin yapılması,Yap Getir’nin sunduğu ve Site üzerinden sunulan hizmetlerin iyileştirilmesi yeni hizmetlerin tanıtılması ve bu doğrultuda tarafınıza gerekli bilgilendirmelerin yapılması dahil ticari faaliyetlerinin yürütülmesi, ticari ve iş stratejilerinin belirlenmesi ve uygulanması,Yap Getir veYap Getir ile iş ilişkisi içinde olan kişilerin hukuki ve ticari güvenliğinin temininin sağlanması ve bu kapsamda tarafınıza gerekli bilgilendirilmelerin yapılması ve bu faaliyetlerin doğasından kaynaklanan yükümlülüklerin yerine getirilmesi için işlenebilir. <br> Söz konusu kişisel bilgiler sizinle iletişime geçmek veya Site’deki veya Mobil uygulama üzerindeki deneyiminizi iyileştirmek (iletişim yönetimi sürecinin yönetilmesi, memnuniyet araştırmalarının yapılması vb.) amacıyla kullanılabileceği gibi, şirket içi raporlama ve iş geliştirme faaliyetleri kapsamında kullanılabilecek, kimliğiniz ifşa edilmeksizin çeşitli istatistiksel değerlendirmeler yapma, veri tabanı oluşturma ve pazar araştırmalarında bulunma amacıyla da kullanılabilecektir. Söz konusu bilgilerYap Getir’nin tarafından doğrudan pazarlama, dijital pazarlama, yeniden pazarlama, hedefleme, profilleme ve analiz amaçlarıyla işlenebilecek, saklanabilecek, üçüncü kişilere iletilebilecek ve söz konusu bilgiler üzerinden çeşitli uygulama, ürün ve hizmetlerin tanıtımı, bakım ve destek faaliyetlerine ilişkin bildirimlerde bulunma amacıyla sizlerle ile iletişime geçilebilecektir. <br>Yap Getir ayrıca, Kanunu’nun 5 ve 8. maddeleri uyarınca ve/veya ilgili mevzuattaki istisnaların varlığı halinde kişisel verileri Veri Sahibi olarak sizlerin ayrıca rızasını almaksızın işleyebilecek ve üçüncü kişilerle paylaşabilecektir. Bu durumların başlıcaları aşağıda belirtilmiştir:
                        <ul>
                            <li>Kanunlarda açıkça öngörülmesi,</li>
                            <li>Fiili imkânsızlık nedeniyle rızasını açıklayamayacak durumda bulunan veya rızasına hukuki geçerlilik tanınmayan kişinin kendisinin ya da bir başkasının hayatı veya beden bütünlüğünün korunması için zorunlu olması,</li>
                            <li>Veri Sahibi ile Yapgetir arasında herhangi bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, kişisel verilerin işlenmesinin gerekli olması,</li>
                            <li>Yemek Sepeti’nin hukuki yükümlülüklerini yerine getirebilmesi için zorunlu olması,</li>
                            <li>Veri Sahibi’nin kendisi tarafından alenileştirilmiş olması,</li>
                            <li>Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin zorunlu olması,</li>
                            <li>Veri Sahibi’nin temel hak ve özgürlüklerine zarar vermemek kaydıyla,Yap Getir’nin meşru menfaatleri için veri işlenmesinin zorunlu olması.</li>
                        </ul>
                        Yukarıda da belirtildiği üzereYap Getir, çerez (Cookie) kullanabilecek ve bu kapsamda veri işleyerek üçüncü kişiler tarafından sunulan analiz hizmetleri kapsamında işlenmesi amacıyla sadece bu analiz hizmetlerinin gerektirdiği ölçüde kullanılması amacıyla üçüncü kişilere iletebilecektir. Bahsi geçen teknik iletişim dosyaları, ana bellekte saklanmak üzere Site’nin Veri Sahibi tarayıcısına (browser) gönderdiği küçük metin dosyalarıdır. Teknik iletişim dosyası bir web sitesi hakkında durum ve tercih ayarlarını saklayarak Site’nin kullanımını bu anlamda kolaylaştırır. Teknik iletişim dosyası, internet sitelerini zamansal oranlamalı olarak kaç kişinin kullandığını, bir kişinin herhangi bir internet sitesini hangi amaçla, kaç kez ziyaret ettiği ve ne kadar kaldığı hakkında istatistiksel bilgileri elde etmek ve kullanıcılar için özel tasarlanmış kullanıcı sayfalarından dinamik olarak reklam ve içerik üretilmesine yardımcı olmak üzere tasarlanmış olup, bu amaçlarla kullanılmaktadır. Teknik iletişim dosyası, ana bellekten başkaca herhangi bir kişisel veri almak için tasarlanmamıştır. Tarayıcıların pek çoğu başta teknik iletişim dosyasını kabul eder biçimde tasarlanmıştır, ancak kullanıcılar dilerse teknik iletişim dosyasının gelmemesi veya teknik iletişim dosyasının gönderildiğinde ikaz verilmesini sağlayacak biçimde tarayıcı ayarlarını her zaman için değiştirebilirler.
                    </div>
                    <h3 class="module-title">Verilerinize Kimler Erişebilmektedir?</h3>
                    <div class="section-body">Yemek Sepeti, kişisel verilerinizi ve bu kişisel verileriniz kullanılarak elde edilen yeni verileri, işbu Gizlilik Politikası altında belirtilen amaçların gerçekleştirilebilmesi için restoranlara, söz konusu hizmetlerin temini amacıyla sınırlı olmak üzere aktarılabilecektir. Bu çerçevedeYap Getir ayrıca kişisel verilerinizi bağlı bulunduğumuz Delivery Hero GmbH’a ve Luxembourg Investment Company 43 S.A.R.L.’a, hissedarlarına, iştiraklerine, hukuken yetkili kamu kurumları ile özel hukuk kişilerine aktarabilecektir. İş ortaklarımıza ve hizmetlerinden faydalandığı tedarikçiler ile üçüncü kişilere anonim veya sınırlı veri aktarımı yapılabilmekle bu durumlarda ayrıca onay alınabilmektedir.<br>Yap Getir, kullanıcı deneyiminizin geliştirilmesi (iyileştirme ve kişiselleştirme dâhil), güvenliğinizin temin edilmesi, hileli ya da izinsiz kullanımların tespit edilmesi, operasyonel değerlendirme araştırılması, Site hizmetlerine ilişkin hataların giderilmesi ve işbu Gizlilik Politikası’nda yer alan amaçlardan herhangi birisini gerçekleştirebilmek için e-mail ve SMS gönderimi yapanlar da dahil olmak üzere dış kaynak hizmet sağlayıcıları, barındırma hizmet sağlayıcıları (hosting servisleri), hukuk büroları gibi üçüncü kişiler ile paylaşabilecektir. <br> Veri Sahibi olarak, yukarıda belirtilen amaçlarla sınırlı olmak kaydı ile bahsi geçen üçüncü tarafların kişisel verilerinizi dünyanın her yerindeki sunucularında saklayabileceğini, bu hususa peşinen muvafakat ettiğinizi kabul edersiniz. <br> Veri Sahibi olarak, işbu Gizlilik Politikası’na konu bilgilerinizin tam, doğru ve güncel olduğunu, bu bilgilerde herhangi bir değişiklik olması halinde bunları derhal güncelleyeceğinizi taahhüt edersiniz. Güncel bilgileri sağlamamış olmanız halindeYap Getir’nin herhangi bir sorumluluğu olmayacaktır.<br> Veri Sahibi olarak, herhangi bir kişisel verinizinYap Getir tarafından kullanılamaması ile sonuçlanacak bir talepte bulunmanız halinde Site’nin veya Mobil uygulamanın işleyişinden tam olarak faydalanamayabileceğini kabul eder ve bu kapsamda doğacak her türlü sorumluluğun size ait olacağını beyan edersiniz.</div>
                    <h3 class="module-title">Verilerinizi Ne Kadar Süreyle Saklıyoruz?</h3>
                    <div class="section-body">Yemek Sepeti ile paylaşmış olduğunuz kişisel verileriniz işbu Gizlilik Politikası kapsamında belirtilen amaçların gerektirdiği süre boyunca veYap Getir’nin ilgili mevzuatta belirtilen zamanaşımı süreleri boyunca saklanmaktadır. Ayrıca, söz konusu kişisel verilerinizYap Getir ile aranızda doğabilecek herhangi bir uyuşmazlık durumunda, uyuşmazlık kapsamında gerekli savunmaların gerçekleştirilebilmesi amacıyla sınırlı olmak üzere saklanabilecektir.</div>
                    <h3 class="module-title">Verilerinizin Güvenliğini Nasıl Sağlıyoruz?</h3>
                    <div class="section-body">
                       Yap Getir, ilgili mevzuatta belirlenen veya işbu Gizlilik Politikası’nda ifade edilen şartlarda,
                        <ul>
                            <li>kişisel verilerin hukuka aykırı olarak işlenmemesini,</li>
                            <li>kişisel verilere hukuka aykırı olarak erişilmemesini ve</li>
                            <li>kişisel verilerin muhafazasını</li>
                        </ul>
                        sağlamak amacıyla uygun şartlar maliyetler gözetilerek/ asgari güvenlik düzeyini temin etmeye yönelik gerekli teknik ve idari tedbirleri almayı, gerekli denetimleri yaptırmaktadır. <br> Yemeksepeti ayrıca, sizden elde ettiği kişisel verileri işbu Gizlilik Politikası ve Kişisel Verilerin Korunması Kanunu hükümlerine aykırı olarak başkasına açıklamamakta ve işleme amacı dışında kullanmamaktadır. <br> Site üzerinden başka uygulamalara link verilmesi halinde,Yap Getir uygulamaların gizlilik politikaları ve içeriklerine yönelik herhangi bir sorumluluk taşımamaktadır ve bu metinleri incelemenizi önermektedir.
                    </div>
                    <h3 class="module-title">Gizlilik Politikası’ndaki Değişiklikler</h3>
                    <div class="section-body">İşbu Gizlilik Politikası değişen şartlara ve mevzuata uyum sağlamak amacıyla zaman zaman güncellenebilecektir.</div>
                    <h3 class="module-title">ÇEREZ (“COOKİE”) POLİTİKASI</h3>
                    <div class="section-body">Yemek Sepeti Elektronik İletişim Tanıtım Pazarlama Gıda Sanayi ve Ticaret A.Ş. (“Yemek Sepeti”) olarak internet sitelerimizden en verimli şekilde faydalanabilmeniz ve kullanıcı deneyiminizi geliştirebilmek için Cookie kullanıyoruz. Cookie kullanılmasını tercih etmezseniz tarayıcınızın ayarlarından Cookie’leri silebilir ya da engelleyebilirsiniz. Ancak bunun internet sitelerimizin kullanımınızı etkileyebileceğini hatırlatmak isteriz. Tarayıcınızdan Cookie ayarlarınızı değiştirmediğiniz sürece internet sitelerimizde çerez kullanımını kabul ettiğinizi varsayacağız. Toplanan verilerle ilgili düzenlemelere internet sitelerimizde yer alan Gizlilik Politikası Metni’nden ulaşabilirsiniz.</div>
                    <h3 class="module-title">Çerez Nedir ve Neden Kullanılmaktadır?</h3>
                    <div class="section-body">Çerezler, ziyaret ettiğiniz internet siteleri tarafından tarayıcılar aracılığıyla cihazınıza veya ağ sunucusuna depolanan küçük metin dosyalarıdır. Daha detaylı bilgi için: http://www.aboutcookies.org/ ve http://www.allaboutcookies.org/ adreslerini ziyaret edebilirisiniz. Platform’da çerez kullanılmasının başlıca amaçları internet sitelerimizin işlevselliğini ve performansını arttırmak yoluyla sizlere sunulan hizmetleri geliştirmek, internet sitelerimizi iyileştirmek ve Platform üzerinden yeni özellikler sunmak ve sunulan özellikleri sizlerin tercihlerine göre kişiselleştirmek, internet sitelerimizin, sizin veYap Getir’nin hukuki ve ticari güvenliğinin teminini sağlamaktır</div>
                    <h3 class="module-title">İnternet Sitelerimizde Kullanılan Çerezler Türleri</h3>
                    <div class="section-body">Oturum Çerezleri (Session Cookies): Oturum çerezleri ziyaretçilerimizin İnternet Sitesini ziyaretleri süresince kullanılan, tarayıcı kapatıldıktan sonra silinen geçici çerezlerdir. Bu tür çerezlerin kullanılmasının temel amacı ziyaretiniz süresince İnternet Sitesinin düzgün bir biçimde çalışmasının teminini sağlamaktır. Örneğin; birden fazla sayfadan oluşan çevrimiçi formları doldurmanız sağlanmaktadır.</div>
                    <div class="section-body"></div>
                    <div class="section-body">Kalıcı Çerezler (Persistent Cookies): Kalıcı çerezler İnternet Sitesinin işlevselliğini artırmak, ziyaretçilerimize daha hızlı ve iyi bir hizmet sunmak amacıyla kullanılan çerez türleridir. Bu tür çerezler tercihlerinizi hatırlamak için kullanılır ve tarayıcılar vasıtasıyla cihazınızda depolanır. Kalıcı çerezlerin bazı türleri; İnternet Sitesini kullanım amacınız gibi hususlar göz önünde bulundurarak sizlere özel öneriler sunulması için kullanılabilmektedir. Kalıcı çerezler sayesinde İnternet Sitemizi aynı cihazla tekrardan ziyaret etmeniz durumunda, cihazınızda İnternet Sitemiz tarafından oluşturulmuş bir çerez olup olmadığı kontrol edilir ve var ise, sizin siteyi daha önce ziyaret ettiğiniz anlaşılır ve size iletilecek içerik bu doğrultuda belirlenir ve böylelikle sizlere daha iyi bir hizmet sunulur.</div>
                    <h3 class="module-title">İnternet Sitelerimizde Kullanılan Çerezlerin Kategorileri</h3>
                    <div class="section-body">Teknik Çerezler (Technical Cookies): Teknik çerezler ile internet sitesinin çalışmasının sağlanmakta, internet sitesinin çalışmayan sayfaları ve alanları tespit edilmektedir.</div>
                    <div class="section-body"></div>
                    <div class="section-body">Otantikasyon Çerezleri (Authentication Cookies): Ziyaretçiler, şifrelerini kullanarak internet sitesine giriş yapmaları durumunda, bu tür çerezler ile ziyaretçinin internet sitesinde ziyaret ettiği her bir sayfada site kullanıcısı olduğu belirlenerek, kullanıcının her sayfada şifresini yeniden girmesi önlenir.</div>
                    <div class="section-body"></div>
                    <div class="section-body">Kişiselleştirme Çerezleri (Customization Cookies): Kullanıcıların tercihlerini farklı internet sitesinin farklı sayfalarını ziyarette de hatırlamak için kullanılan çerezlerdir. Örneğin, seçmiş olduğunuz dil tercihinizin hatırlanması.</div>
                    <div class="section-body"></div>
                    <div class="section-body">Analitik Çerezler (Analytical Cookies): Analitik çerezler ile internet sitesini ziyaret edenlerin sayıları, internet sitesinde görüntülenen sayfaların tespiti, internet sitesi ziyaret saatleri, internet sitesi sayfaları kaydırma hareketleri gibi analitik sonuçların üretimini sağlayan çerezlerdir.</div>
                    <h3 class="module-title">İnternet Sitelerimizde Kullanılan Çerezler</h3>
                    <div class="section-body">Reklam: Davranışsal ve hedef odaklı reklamların ziyaretçilere gösterilmesi amacıyla kullanılmaktadır. 3 ay.Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür. Facebook: Bu tür çerezler, Facebook üyelerinin (veya üye olmayan kişilerin) pazar analizi ve ürün gelişimi amacıyla izlenmesini sağlar. Çerezin ilk kurulumundan itibaren 2 yıl. Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.</div>
                    <div class="section-body"></div>
                    <div class="section-body">Google analitikleri: Bu tür çerezler tüm istatistiksel verilerin toplanmasını bu şekilde Sitenin sunumunun ve kullanımının geliştirilmesini sağlar. Google, bu istatistiklere toplumsal istatistikler ve ilgilere ilişkin veriler eklemek suretiyle, kullanıcıları daha iyi anlamamızı sağlar. Sitemiz, Google Analitik çerezleri kullanmaktadır. Söz konusu çerezler ile toplanan veriler, ABD’de bulunan Google sunucularına aktarılmakta ve söz konusu veriler Google’ın veri koruma ilkeleri ile uyumlu olarak muhafaza edilmektedir. Google’ın analitik veri işleme faaliyetleri ve kişisel verilerin korunması konusundaki ilkeler hakkında daha fazla bilgi sahibi olmak için burayı tıklayabilirsiniz. Son güncellemeden itibaren 2 yıl. Çerezlerin Kontrolü https://tools.google.com/dlpaqe/gaoptout</div>
                    <div class="section-body"></div>
                    <div class="section-body">Adobe Omniture: Bu tür çerezler tüm istatistiksel verilerin toplanmasını bu şekilde Sitenin sunumunun ve kullanımının geliştirilmesini sağlar. Çerezin ilk kurulumdan itibaren 5 yıl. Çerezin ilk kurulumdan itibaren 3 yıl. Çerezin ilk kurulumdan itibaren 1 ay. Oturum Çerezi Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.</div>
                    <div class="section-body"></div>
                    <div class="section-body">Teknik Çerezler Oturum: Oturum çerezleri oturumun sürekliliğinin sağlanması amacıyla kullanılır. İlk kurulumundan itibaren 82 yıl. Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.</div>
                    <div class="section-body"></div>
                    <div class="section-body">Kişiselleştirme Çerezleri Dil: Kullanıcının seçtiği dili kaydeder ve buna uygun seçenekler sunar. Sınırsız, tarayıcıdan ayar/silme yapılana kadar bilgisayarda kalıyor. Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür. Mobil Eğer kullanıcı Siteyi mobil bir cihazdan ziyaret ediyorsa, ana web sitesini göstermek için kullanılır. (Örneğin, cihazın Flash'ı etkinleştiridiği), ya da Flash'a ihtiyaç duymayan bir mobil sitede olduğunu. Kaynak site kullanıcının tercihlerinin daha iyi anlaşılabilmesi için kaydedilir.</div>
                    <div class="section-body"></div>
                    <div class="section-body">Oturum Çerezi Tarayıcı ayarları aracığıyla kabul etmek ya da reddetmek mümkünüdür.</div>
                    <h3 class="module-title">Çerezlerin Kullanımı Veri Sahipleri Tarafından Engellenebilir mi?</h3>
                    <div class="section-body">Tarayıcınızın ayarlarını değiştirerek çerezlere ilişkin tercihlerinizi kişiselleştirme imkanına sahipsiniz.</div>
                    <div class="section-body"></div>
                    <div class="section-body">Adobe Analytics http://www.adobe.com/uk/privacy/opt-out.html AOL https://help.aol.com/articles/restore-security-settings-and-enable-cookie-settings-on-browser</div>
                    <div class="section-body"></div>
                    <div class="section-body">Google Adwords https://support.google.com/ads/answer/2662922?hl=en</div>
                    <div class="section-body"></div>
                    <div class="section-body">Google Analytics https://tools.google.com/dlpage/gaoptout Google Chrome http://www.google.com/support/chrome/bin/answer.py?hl=en&amp;answer=95647</div>
                    <div class="section-body"></div>
                    <div class="section-body">Internet Explorer https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies</div>
                    <div class="section-body"></div>
                    <div class="section-body">MozillaFirefox http://support.mozilla.com/en-US/kb/Cookies</div>
                    <div class="section-body"></div>
                    <div class="section-body">Opera http://www.opera.com/browser/tutorials/security/privacy/</div>
                    <div class="section-body"></div>
                    <div class="section-body">Safari https://support.apple.com/kb/ph19214?locale=tr_TR</div>
                </div>
            </div>
        </div>
    </div>
</div>
